<a href="https://colab.research.google.com/github/Shakshirawat/Python_ds/blob/main/Data_structure_Practice_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lists, Tuples, and Sets : Practice Assignment

### Dear students these question will help you build a very strong foundation on data structures specificaly as data analyst

Each problem has:
- **Problem statement**
- **What the expected answer should look like** (an example of the final result/state)
- An **empty code cell** for you to solve it (look for `# write your code here`).

> Tip: Run cells independently.

### List Q1

**Problem:** Write a program to retrieve the value 4 from the list `my_list = [[1, 2], [3, 4], [5, 6]]` using indexing.

**Expected answer should look like (example):**
```
4
```

In [1]:
my_list = [[1, 2], [3, 4], [5, 6]]
value_4 = my_list[1][1]
print(value_4)

4

### List Q2

**Problem:** Write a program to reverse the list `[10, 20, 30, 40, 50]` using slicing and explain how the slicing parameters achieve the result.

**Expected answer should look like (example):**
```
[50, 40, 30, 20, 10]  # slicing: lst[::-1] (start:end:step=-1)
```

In [2]:
my_list = [10, 20, 30, 40, 50]
reversed_list = my_list[::-1]
print(reversed_list)

[50, 40, 30, 20, 10]

### List Q3

**Problem:** Write a program to extract every second element from the list `[1, 2, 3, 4, 5, 6, 7, 8]` using slicing.

**Expected answer should look like (example):**
```
[2, 4, 6, 8]
```

In [3]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8]
every_second_element = my_list[1::2]
print(every_second_element)

[2, 4, 6, 8]

### List Q4

**Problem:** Write a program to replace the middle two elements of the list `[10, 20, 30, 40, 50]` with `[99, 100, 101]` using slicing.

**Expected answer should look like (example):**
```
[10, 20, 99, 100, 101, 50]
```

In [4]:
my_list = [10, 20, 30, 40, 50]
my_list[2:4] = [99, 100, 101]
print(my_list)

[10, 20, 99, 100, 101, 50]

### List Q5

**Problem:** Write a program to transform the list `[1, 2, 3, 4, 5]` into `[1, 99, 100, 101, 4, 5]` by modifying a slice.

**Expected answer should look like (example):**
```
[1, 99, 100, 101, 4, 5]
```

In [70]:
my_list = [1, 2, 3, 4, 5]
my_list[1:4] = [99, 100, 101]
print(my_list)

[1, 99, 100, 101, 5]

### List Q6

**Problem:** Write a program to concatenate two lists without using the `+` operator.

**Expected answer should look like (example):**
```
[...concatenated items...]  # e.g., via unpacking or extend
```

In [5]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list1.extend(list2)
print(list1)

[1, 2, 3, 4, 5, 6]

### List Q7

**Problem:** Write a program to demonstrate how the `extend` method behaves if the argument is a string using `my_list = [1, 2, 3]`.

**Expected answer should look like (example):**
```
[1, 2, 3, 'a', 'b', 'c']  # e.g., my_list.extend('abc') adds each char
```

In [6]:
my_list = [1, 2, 3]
my_list.extend('abc')
print(my_list)

[1, 2, 3, 'a', 'b', 'c']

### List Q8

**Problem:** Write a program that uses `extend` to merge two lists in such a way that duplicates from the second list are not added.

**Expected answer should look like (example):**
```
[merged_unique_list]  # second list's items only if not already present
```

In [7]:
list1 = [1, 2, 3, 4]
list2 = [3, 4, 5, 6]
unique_list2 = list(set(list2))
list1.extend([item for item in unique_list2 if item not in list1])
print(list1)

[1, 2, 3, 4, 5, 6]

### List Q9

**Problem:** Write a program to create a list of 100 zeros using repetition and then replace every 10th element with 1.

**Expected answer should look like (example):**
```
[1 appears at indices 9,19,29,...]
```

In [8]:
my_list = [0] * 100
for i in range(9, 100, 10):
    my_list[i] = 1
print(my_list)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1]

### List Q10

**Problem:** Write a Python command without using a loop to check if **all** the elements of `[2, 4]` are present in the list `[1, 2, 3, 4, 5]`.

**Expected answer should look like (example):**
```
True  # e.g., set([2,4]).issubset([1,2,3,4,5])
```

In [9]:
list1 = [2, 4]
list2 = [1, 2, 3, 4, 5]
print(set(list1).issubset(set(list2)))

True

### List Q11

**Problem:** Write a program to use `not in` to filter out all the elements of a list that exist in another list, e.g., removing elements in `[2, 4]` from `[1, 2, 3, 4, 5]`.

**Expected answer should look like (example):**
```
[1, 3, 5]
```

In [10]:
list1 = [1, 2, 3, 4, 5]
list2 = [2, 4]
filtered_list = [item for item in list1 if item not in list2]
print(filtered_list)

[1, 3, 5]

### List Q12

**Problem:** Create a list of integers from 1 to 10.

**Expected answer should look like (example):**
```
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
```

In [11]:
my_list = list(range(1, 11))
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### List Q13

**Problem:** Add an element to the end of a list using `append()`.

**Expected answer should look like (example):**
```
[...original..., 99]
```

In [12]:
my_list = [1, 2, 3]
my_list.append(99)
print(my_list)

[1, 2, 3, 99]

### List Q14

**Problem:** Insert an element at the second position in a list.

**Expected answer should look like (example):**
```
[first, NEW, rest...]
```

In [13]:
my_list = [1, 2, 3, 4]
my_list.insert(1, 99)
print(my_list)

[1, 99, 2, 3, 4]

### List Q15

**Problem:** Remove an element from a list using `remove()`.

**Expected answer should look like (example):**
```
[list without that value]
```

In [14]:
my_list = [1, 2, 3, 4, 3]
my_list.remove(3)
print(my_list)

[1, 2, 4, 3]

### List Q16

**Problem:** Remove and return the last element of a list using `pop()`.

**Expected answer should look like (example):**
```
popped_value  # and list becomes [..., without last]
```

In [15]:
my_list = [1, 2, 3, 4]
popped_value = my_list.pop()
print(popped_value)
print(my_list)

4
[1, 2, 3]

### List Q17

**Problem:** Find the length of a list **without** using the `len()` function.

**Expected answer should look like (example):**
```
10  # manual count with loop
```

In [16]:
my_list = [1, 2, 3, 4, 5]
count = 0
for item in my_list:
    count += 1
print(count)

5

### List Q18

**Problem:** Slice a list to get the first 5 elements.

**Expected answer should look like (example):**
```
lst[:5] -> first five elements
```

In [17]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
first_five = my_list[:5]
print(first_five)

[1, 2, 3, 4, 5]

### List Q19

**Problem:** Reverse a list using slicing.

**Expected answer should look like (example):**
```
reversed_list  # lst[::-1]
```

In [18]:
my_list = [10, 20, 30, 40, 50]
reversed_list = my_list[::-1]
print(reversed_list)

[50, 40, 30, 20, 10]

### List Q20

**Problem:** Check if an element exists in a list using `in`.

**Expected answer should look like (example):**
```
True/False
```

In [19]:
my_list = [1, 2, 3, 4, 5]
element_to_check = 3
print(element_to_check in my_list)

True

### List Q21

**Problem:** Concatenate two lists using the `+` operator.

**Expected answer should look like (example):**
```
[combined elements]
```

In [20]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
concatenated_list = list1 + list2
print(concatenated_list)

[1, 2, 3, 4, 5, 6]

### List Q22

**Problem:** Find the sum of all elements in a list.

**Expected answer should look like (example):**
```
numeric_sum
```

In [21]:
my_list = [1, 2, 3, 4, 5]
total_sum = sum(my_list)
print(total_sum)

15

### List Q23

**Problem:** Use list comprehension to generate a list of odd numbers from 1 to 10.

**Expected answer should look like (example):**
```
[1, 3, 5, 7, 9]
```

In [22]:
odd_numbers = [x for x in range(1, 11) if x % 2 != 0]
print(odd_numbers)

[1, 3, 5, 7, 9]

### List Q24

**Problem:** Convert a list with duplicate elements into a set to remove duplicates.

**Expected answer should look like (example):**
```
{unique_elements}
```

In [23]:
my_list = [1, 2, 2, 3, 4, 4, 5]
my_set = set(my_list)
print(my_set)

{1, 2, 3, 4, 5}

### List Q25

**Problem:** Convert a string to a list of its characters.

**Expected answer should look like (example):**
```
['h','e','l','l','o']
```

In [24]:
my_string = "hello"
my_list = list(my_string)
print(my_list)

['h', 'e', 'l', 'l', 'o']

### List Q26

**Problem:** Multiply all items in a list using a loop.

**Expected answer should look like (example):**
```
product_value
```

In [25]:
my_list = [1, 2, 3, 4, 5]
product = 1
for item in my_list:
    product *= item
print(product)

120

### List Q27

**Problem:** Sort a list of numbers in ascending order.

**Expected answer should look like (example):**
```
[sorted numbers asc]
```

In [26]:
my_list = [5, 2, 8, 1, 9]
my_list.sort()
print(my_list)

[1, 2, 5, 8, 9]

### List Q28

**Problem:** Clear all elements from a list using `clear()`.

**Expected answer should look like (example):**
```
[]
```

In [27]:
my_list = [1, 2, 3, 4, 5]
my_list.clear()
print(my_list)

[]

### List Q29

**Problem:** Use a `while` loop to iterate through a list.

**Expected answer should look like (example):**
```
each element printed/processed
```

In [28]:
my_list = [1, 2, 3, 4, 5]
index = 0
while index < len(my_list):
    print(my_list[index])
    index += 1

1
2
3
4
5

### List Q30

**Problem:** Use a `for` loop with `enumerate()` to print index and value.

**Expected answer should look like (example):**
```
index: value
```

In [29]:
my_list = ["apple", "banana", "cherry"]
for index, value in enumerate(my_list):
    print(f"Index: {index}, Value: {value}")

Index: 0, Value: apple
Index: 1, Value: banana
Index: 2, Value: cherry

### List Q31

**Problem:** Find the index of an element in a list using `index()`.

**Expected answer should look like (example):**
```
integer_index
```

In [30]:
my_list = [10, 20, 30, 40, 50]
index_of_30 = my_list.index(30)
print(index_of_30)

2

### Tuples Q1

**Problem:** Create a tuple with elements from 1 to 5.

**Expected answer should look like (example):**
```
(1, 2, 3, 4, 5)
```

In [31]:
my_tuple = (1, 2, 3, 4, 5)
print(my_tuple)

(1, 2, 3, 4, 5)

### Tuples Q2

**Problem:** Access the third element in a tuple.

**Expected answer should look like (example):**
```
value_at_index_2
```

In [32]:
my_tuple = (10, 20, 30, 40, 50)
third_element = my_tuple[2]
print(third_element)

30

### Tuples Q3

**Problem:** Slice a tuple to get the last 3 elements.

**Expected answer should look like (example):**
```
(last3,)
```

In [33]:
my_tuple = (10, 20, 30, 40, 50)
last_three = my_tuple[-3:]
print(last_three)

(30, 40, 50)

### Tuples Q4

**Problem:** Check if an element exists in a tuple using `in`.

**Expected answer should look like (example):**
```
True/False
```

In [34]:
my_tuple = (1, 2, 3, 4, 5)
element_to_check = 3
print(element_to_check in my_tuple)

True

### Tuples Q5

**Problem:** Find the index of an element in a tuple.

**Expected answer should look like (example):**
```
integer_index
```

In [35]:
my_tuple = (10, 20, 30, 40, 50)
index_of_30 = my_tuple.index(30)
print(index_of_30)

2

### Tuples Q6

**Problem:** Count the occurrences of an element in a tuple.

**Expected answer should look like (example):**
```
count_value
```

In [36]:
my_tuple = (1, 2, 2, 3, 4, 2, 5)
count_of_2 = my_tuple.count(2)
print(count_of_2)

3

### Tuples Q7

**Problem:** Create a nested tuple and access an element from it.

**Expected answer should look like (example):**
```
nested_value
```

In [37]:
nested_tuple = ((1, 2), (3, 4), (5, 6))
nested_value = nested_tuple[1][1]
print(nested_value)

4

### Tuples Q8

**Problem:** Check if two tuples are equal.

**Expected answer should look like (example):**
```
True/False
```

In [38]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)
tuple3 = (4, 5, 6)
print(tuple1 == tuple2)
print(tuple1 == tuple3)

True
False

### Tuples Q9

**Problem:** Convert a list to a tuple.

**Expected answer should look like (example):**
```
tuple(list)
```

In [69]:
my_list = [1, 2, 3, 4, 5]
my_tuple = tuple(my_list)
print(my_tuple)

(1, 2, 3, 4, 5)

### Tuples Q10

**Problem:** Create a tuple of integers and find its sum.

**Expected answer should look like (example):**
```
sum_value
```

In [39]:
my_tuple = (1, 2, 3, 4, 5)
total_sum = sum(my_tuple)
print(total_sum)

15

### Tuples Q11

**Problem:** Create a tuple using the `tuple()` constructor.

**Expected answer should look like (example):**
```
tuple_from_iterable
```

In [40]:
my_list = [1, 2, 3]
my_tuple = tuple(my_list)
print(my_tuple)

(1, 2, 3)

### Tuples Q12

**Problem:** Use a `for` loop to iterate through a tuple.

**Expected answer should look like (example):**
```
elements printed/processed
```

In [ ]:
my_tuple = (1, 2, 3, 4, 5)
for element in my_tuple:
    print(element)

### Tuples Q13

**Problem:** Try modifying a tuple element and handle the error.

**Expected answer should look like (example):**
```
TypeError handled
```

In [41]:
my_tuple = (1, 2, 3)
try:
    my_tuple[0] = 99
except TypeError as e:
    print(f"TypeError handled: {e}")

TypeError handled: 'tuple' object does not support item assignment

### Tuples Q14

**Problem:** Unpack a tuple into individual variables.

**Expected answer should look like (example):**
```
a b c ... assigned
```

In [42]:
my_tuple = (1, 2, 3)
a, b, c = my_tuple
print(f"a: {a}, b: {b}, c: {c}")

a: 1, b: 2, c: 3

### Tuples Q15

**Problem:** Use a tuple inside a dictionary as a key.

**Expected answer should look like (example):**
```
{(1,2): 'value'}
```

In [43]:
my_dict = {(1, 2): 'value1', (3, 4): 'value2'}
print(my_dict[(1, 2)])

value1

### Tuples Q16

**Problem:** Find the length of a tuple using `len()`.

**Expected answer should look like (example):**
```
length_value
```

In [44]:
my_tuple = (10, 20, 30, 40, 50)
tuple_length = len(my_tuple)
print(tuple_length)

5

### Tuples Q17

**Problem:** Compare two tuples using relational operators.

**Expected answer should look like (example):**
```
True/False based on lexicographic
```

In [45]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 4)
tuple3 = (1, 2)
print(tuple1 < tuple2)
print(tuple1 > tuple3)
print(tuple1 == (1, 2, 3))

True
True
True

### Tuples Q18

**Problem:** Use `max()` and `min()` with a tuple.

**Expected answer should look like (example):**
```
max_value, min_value
```

In [46]:
my_tuple = (10, 5, 20, 15, 25)
max_value = max(my_tuple)
min_value = min(my_tuple)
print(f"Maximum value: {max_value}, Minimum value: {min_value}")

Maximum value: 25, Minimum value: 5

### Tuples Q19

**Problem:** Use a tuple inside another tuple and access nested values.

**Expected answer should look like (example):**
```
nested_value
```

In [47]:
nested_tuple = ((1, 2), (3, 4, 5), (6, 7))
nested_value = nested_tuple[1][2]
print(nested_value)

5

### Tuples Q20

**Problem:** Check the memory size of a tuple versus a list using `sys.getsizeof()`.

**Expected answer should look like (example):**
```
e.g., tuple_size < list_size (often)
```

In [48]:
import sys

my_list = [1, 2, 3, 4, 5]
my_tuple = (1, 2, 3, 4, 5)

list_size = sys.getsizeof(my_list)
tuple_size = sys.getsizeof(my_tuple)

print(f"Size of list: {list_size} bytes")
print(f"Size of tuple: {tuple_size} bytes")

Size of list: 104 bytes
Size of tuple: 80 bytes

### Sets Q1

**Problem:** Create a set with integers from 10 to 15.

**Expected answer should look like (example):**
```
{10, 11, 12, 13, 14, 15} (order may vary)
```

In [49]:
my_set = set(range(10, 16))
print(my_set)

{10, 11, 12, 13, 14, 15}

### Sets Q2

**Problem:** Add multiple elements to a set using `update()`.

**Expected answer should look like (example):**
```
{...includes new elements...}
```

In [50]:
my_set = {1, 2, 3}
my_set.update([4, 5, 6])
print(my_set)

{1, 2, 3, 4, 5, 6}

### Sets Q3

**Problem:** Check if a set is a subset of another set.

**Expected answer should look like (example):**
```
True/False
```

In [51]:
set1 = {1, 2}
set2 = {1, 2, 3, 4}
print(set1.issubset(set2))

True

### Sets Q4

**Problem:** Check if a set is a superset of another set.

**Expected answer should look like (example):**
```
True/False
```

In [52]:
set1 = {1, 2, 3, 4}
set2 = {1, 2}
print(set1.issuperset(set2))

True

### Sets Q5

**Problem:** Find the difference between two sets.

**Expected answer should look like (example):**
```
A - B set
```

In [53]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
difference_set = set1 - set2
print(difference_set)

# Alternatively, using the difference() method
difference_set_method = set1.difference(set2)
print(difference_set_method)

{1, 2, 3}
{1, 2, 3}

### Sets Q6

**Problem:** Create a set of multiples of 3 from 1 to 15.

**Expected answer should look like (example):**
```
{3, 6, 9, 12, 15}
```

In [54]:
multiples_of_3 = {x for x in range(1, 16) if x % 3 == 0}
print(multiples_of_3)

{3, 6, 9, 12, 15}

### Sets Q7

**Problem:** Remove an element from a set using `discard()`.

**Expected answer should look like (example):**
```
set without that element (no error if missing)
```

In [55]:
my_set = {1, 2, 3, 4, 5}
my_set.discard(3)
print(my_set)

# Discarding an element that is not in the set does not raise an error
my_set.discard(6)
print(my_set)

{1, 2, 4, 5}
{1, 2, 4, 5}

### Sets Q8

**Problem:** Check if a set is empty.

**Expected answer should look like (example):**
```
True/False
```

In [56]:
my_set1 = {1, 2, 3}
my_set2 = set()

print(len(my_set1) == 0)
print(len(my_set2) == 0)

# Alternatively
print(my_set1 == set())
print(my_set2 == set())

False
True
False
True

### Sets Q9

**Problem:** Find the maximum element in a set.

**Expected answer should look like (example):**
```
max_value
```

In [57]:
my_set = {10, 5, 20, 15, 25}
max_value = max(my_set)
print(max_value)

25

### Sets Q10

**Problem:** Find the minimum element in a set.

**Expected answer should look like (example):**
```
min_value
```

In [58]:
my_set = {10, 5, 20, 15, 25}
min_value = min(my_set)
print(min_value)

5

### Sets Q11

**Problem:** Create a frozen set with elements 'a', 'b', and 'c'.

**Expected answer should look like (example):**
```
frozenset({'a','b','c'})
```

In [59]:
my_frozen_set = frozenset({'a', 'b', 'c'})
print(my_frozen_set)

frozenset({'c', 'b', 'a'})

### Sets Q12

**Problem:** Check if a frozen set is immutable by attempting to add an element.

**Expected answer should look like (example):**
```
AttributeError shown/handled
```

In [60]:
my_frozen_set = frozenset({1, 2, 3})
try:
    my_frozen_set.add(4)
except AttributeError as e:
    print(f"AttributeError handled: {e}")

AttributeError handled: 'frozenset' object has no attribute 'add'

### Sets Q13

**Problem:** Find the union of a frozen set with a regular set.

**Expected answer should look like (example):**
```
combined set
```

In [61]:
frozen_set = frozenset({1, 2, 3})
regular_set = {3, 4, 5}
union_set = frozen_set.union(regular_set)
print(union_set)

# Alternatively using the | operator
union_set_operator = frozen_set | regular_set
print(union_set_operator)

frozenset({1, 2, 3, 4, 5})
frozenset({1, 2, 3, 4, 5})

### Sets Q14

**Problem:** Convert a list with duplicate elements into a set to remove duplicates.

**Expected answer should look like (example):**
```
{unique_elements}
```

In [62]:
my_list = [1, 2, 2, 3, 4, 4, 5]
my_set = set(my_list)
print(my_set)

{1, 2, 3, 4, 5}

### Sets Q15

**Problem:** Create a set comprehension to generate squares of numbers from 1 to 5.

**Expected answer should look like (example):**
```
{1,4,9,16,25}
```

In [63]:
squares_set = {x**2 for x in range(1, 6)}
print(squares_set)

{1, 4, 9, 16, 25}

### Sets Q16

**Problem:** Use the `intersection()` method on two sets.

**Expected answer should look like (example):**
```
A ∩ B
```

In [64]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
intersection_set = set1.intersection(set2)
print(intersection_set)

# Alternatively using the & operator
intersection_set_operator = set1 & set2
print(intersection_set_operator)

{4, 5}
{4, 5}

### Sets Q17

**Problem:** Use `symmetric_difference()` between two sets.

**Expected answer should look like (example):**
```
(A Δ B) set
```

In [68]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
symmetric_difference_set = set1.symmetric_difference(set2)
print(symmetric_difference_set)

# Alternatively using the ^ operator
symmetric_difference_set_operator = set1 ^ set2
print(symmetric_difference_set_operator)

{1, 2, 3, 6, 7, 8}
{1, 2, 3, 6, 7, 8}

### Sets Q18

**Problem:** Iterate over elements of a set using a loop.

**Expected answer should look like (example):**
```
elements printed (order arbitrary)
```

In [67]:
my_set = {1, 2, 3, 4, 5}
for element in my_set:
    print(element)

1
2
3
4
5

### Sets Q19

**Problem:** Count elements in a set using `len()`.

**Expected answer should look like (example):**
```
integer_count
```

In [66]:
my_set = {1, 2, 3, 4, 5}
set_count = len(my_set)
print(set_count)

5

### Sets Q20

**Problem:** Copy a set using `copy()` and verify it is separate.

**Expected answer should look like (example):**
```
True when A is B is False; mutation doesn't affect copy
```

In [65]:
my_set = {1, 2, 3, 4}
my_set_copy = my_set.copy()

print(f"Original set before modification: {my_set}")
print(f"Copied set before modification: {my_set_copy}")
print(f"Are the original and copy the same object? {my_set is my_set_copy}")

my_set.add(5)

print(f"Original set after modification: {my_set}")
print(f"Copied set after modification: {my_set_copy}")

Original set before modification: {1, 2, 3, 4}
Copied set before modification: {1, 2, 3, 4}
Are the original and copy the same object? False
Original set after modification: {1, 2, 3, 4, 5}
Copied set after modification: {1, 2, 3, 4}

## Submission Note

Dear student, kindly save this file on your computer and fill the assignment form that is there in your WhatsApp group to submit this assignment.